<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>论坛--看贴</title>
<Link rel="stylesheet" type="text/css" href="style/style.css" />
</head>

<body>
<div id="yc_detail">
<div>
	<img src="image/logo.gif">
</div>

<!--      用户信息、登录、注册        -->

	<div class="h" v-if="outlogin">
		您尚未　<a href="login.html">登录</a>
		&nbsp;| &nbsp; <a href="reg.html">注册</a> |
	</div>
	<div class="h" v-if="onlogin">
		欢迎：{{uname}}
	</div>

<!--      主体        -->
<div><br/>
	<!--      导航        -->
<div>
	&gt;&gt;<b><a href="index.html">论坛首页</a></b>&gt;&gt;
	<b><a :href="'list.html#'+topic.boardid+'&'+topic.boardname">{{topic.boardname}}</a></b>
</div>
	<br/>
	<!--      回复、新帖        -->
	<div>
		<a :href="'post.html#rep&'+topic.topicid+'&'+topic.boardname"><img src="../static/image/reply.gif" border="0" id=td_post></a>
		<a :href="'post.html#add&'+topic.boardid+'&'+topic.boardname"><img src="../static/image/post.gif" border="0" id=td_post></a>
	</div>
	<!--         翻 页         -->
	<div>
		<a href="detail.html">上一页</a>|
		<a href="detail.html">下一页</a>
	</div>
	<!--      本页主题的标题        -->
	<div>
		<table cellSpacing="0" cellPadding="0" width="100%">
			<tr>
				<th class="h">本页主题: {{topic.title}}</th>
			</tr>
			<tr class="tr2">
				<TD>&nbsp;</TD>
			</tr>
		</table>
	</div>
	
	<!--      主题        -->
	
	<div class="t">
		<table style="BORDER-TOP-WIDTH: 0px; table-LaYOUT: fixed" cellSpacing="0" cellPadding="0" width="100%">
			<tr class="tr1">
				<th style="WIDth: 20%">
					<b>{{topic.uname}}</b><bR/>
					<image :src="'image/head/'+topic.head"/><bR/> 
				 
				 
					注册:{{topic.regtime}}<bR/>
				</th>
				<th>
					<H4>{{topic.title}}</H4>
					<div v-html="topic.content">{{topic.content}}</div>
					<div class="tipad gray">
						发表：[{{topic.publishtime}}] &nbsp;
						最后修改:[{{topic.modifytime}}]
					</div>
				</th>
			</tr>
		</table>
	</div>
	
	<!--      回复        -->
	
	<div class="t" v-for="reply in replys">
		<table style="bORDER-TOP-WIDth: 0px; table-LaYOUT: fixed" cellSpacing="0" cellPadding="0" width="100%">
			<tr class="tr1">
				<th style="WIDth: 20%">
					<b>{{reply.uname}}</b><bR/><bR/>
					 <image :src="'image/head/'+reply.head"/><bR/> 
					注册:{{reply.regtime}}<bR/>
				</th>
				<th>
					<H4>{{reply.title}}</H4>
					<div v-html="reply.content">{{reply.content}}</div>
					<div class="tipad gray">
						发表：[{{reply.publishtime}}] &nbsp;
						最后修改:[{{reply.modifytime}}]
						<a href="javascript:void(0)" @click="delReply(reply.replyid)">[删除]</a>
						<a :href="'post.html#update&'+reply.replyid+'&'+topic.boardname">[修改]</a>
						<a href="javascript:void(0)" @click="dianzan(reply.replyid)">
						<img src="image/good.png" width="20" /> {{reply.zan}}</a>
					</div>
				</th>
			</tr>
		</table>
	</div>
	
	
</div>	
</div>

<!--      声明        -->
<bR>
<center class="gray">源辰信息</center>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/axios.js"></script>
<script src="js/qs.js"></script>
<script>
var hash=window.location.hash;
var topicid=hash.replace("#",'');
var vm=new Vue({
	el:'#yc_detail',
	data:{
		topic:{},
		replys:{},
		uname:'匿名',
		onlogin:false,
		outlogin:true
	},
	methods:{
		delReply:function(id){
			axios.all([delRepy(id),findByTopicId()]).then(axios.spread((fn1,fn2)=>{
				if(fn1.data>0){//用户未登录
					this.topic=fn2.data.topic;
					this.replys=fn2.data.replys;
					alert("删除成功");
				}else{
					alert("删除失败");
				}
			}));
		},
		dianzan:function(id){
			axios.get("reply.action",{params:{op:'dianzan',replyid:id}}).then(result=>{
				if(result.data=="error"){
					alert("操作失败");
				}else{
					//暂定 后期
				}
			})
		}
	},
	mounted:function(){
		//页面加载完成后
		axios.all([checkLogin(),findByTopicId()]).then(axios.spread((fn1,fn2)=>{
			if(!fn1.data){//用户未登录
				window.location.href='login.html';
			}else{
				this.uname=fn1.data.uname;
				this.outlogin=false;
				this.onlogin=true;
				this.topic=fn2.data.topic;
				this.replys=fn2.data.replys;
				console.log(this.topic.head);
			}
		}));
	}
});

function delRepy(id){
	return axios.delete("bbnmd/view/"+id);
}
//检查用户是否登录
function checkLogin(){
	return axios.get("bbnmd/view/check");
}
//显示首页版本信息
function findByTopicId(){
	return axios.get("bbnmd/view/"+topicid);
}
</script>
</body>
</html>

